.list {
  list-style: none;
  display: flex;
}

.item:not(:last-child) {
  margin-right: 60px;
}

.item:last-child {
  margin-right: 271px;
}

.link {
  text-decoration: none;

  padding-top: 18px;
  padding-bottom: 8px;

  font-size: 14px;

  color: #505f98;

  cursor: pointer;
}
