.list {
  display: flex;
  gap: 60px;
}

.link {
  text-decoration: none;

  padding-top: 18px;
  padding-bottom: 18px;

  font-size: 14px;

  color: #505f98;

  cursor: pointer;
}

.link:hover,
.link:focus {
  color: #111b47;
}
