.contentWrapper {
  max-width: 539px;
  margin-left: 0;
  margin-right: auto;
}

.title {
  margin-bottom: 20px;

  text-align: left;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.32;

  letter-spacing: 1px;

  color: #091133;
}

.text {
  margin-bottom: 36px;

  text-align: left;
  font-size: 18px;
  line-height: 1.67;

  color: #505f98;
}

/* .imgWrapper {
  position: relative;
} */

.img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;

  left: 28.98%;
  right: -32.45%;
  top: 1.08%;
  bottom: 75.97%;
}

/* .bgImg {
  width: 200px;
  height: 200px;
  background-image: url(../../img/designer_1.jpg);
} */
