.title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;

  color: #091133;
}
.text {
  max-width: 530px;
  margin-bottom: 36px;

  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  color: #6f7cb2;
}

.price {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.32;
  text-align: center;
  letter-spacing: 1px;

  color: #222f65;
}

.note1 {
  margin-bottom: 60px;

  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: #37447e;
}

.note2 {
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  text-align: center;

  color: #5d6970;
}

.img {
  position: absolute;
  right: -20%;
  top: 0;

  z-index: -10;

  width: 1530px;
}
