.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;

  color: #091133;
}
.text {
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  color: #6f7cb2;
}

.price {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.32;
  text-align: center;
  letter-spacing: 1px;

  color: #222f65;
}

.note1 {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: #37447e;
}

.note2 {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;

  color: #5d6970;
}
