.mainWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTitle {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;

  text-align: left;

  color: #091133;
}

.sectionText {
  margin-bottom: 20px;

  line-height: 1.62;

  text-align: left;

  color: #6f7cb2;
}

.img {
  width: 524px;
  height: 540px;
  margin-left: 30px;
}

.list {
  display: flex;
  margin-top: 80px;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.icon {
  display: block;
  width: 36px;
  height: 36px;
  background-color: blue;
  margin-bottom: 14px;
}

.title {
  margin-bottom: 6px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: left;

  color: #091133;
}

.text {
  font-size: 12px;
  line-height: 1.5;

  text-align: left;

  color: #5d6970;
}
